<!DOCTYPE html>
<html>
    <link href="https://fonts.googleapis.com/css?family=ABeeZee&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main_song.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<head>
    <title>Document</title></head>
<body>
<div class="v1_143">
    <div class="v1_144"></div>
    <div class="v1_149"></div>
    <div class="v1_145">
        <form method="post">
            <textarea class="form-control" name="text" id="song-text">{{ text }}</textarea>
            <br>
            <input type="submit" value="Save" name="save">
        </form>
    </div>
    <span class="v1_146">Muza</span><span class="v1_147">Your personal AI assisted song notebook</span><span
        class="v1_148">My Songs:
        <ul>
            {% for song_name in songs %}
            <li><a href="{{ url_for('song', song_name=song_name) }}">{{ song_name }}</a></li>
            {% endfor %}
        </ul></span>
<!--    <div class="v1_249">-->
<!--        <div class="v1_170"></div>-->
<!--        <div class="name"></div>-->
<!--        <div class="name"></div>-->
<!--        <div class="name"></div>-->
<!--        <div class="name"></div>-->
<!--        <div class="name"></div>-->
<!--    </div>-->
    <div class="name"></div>
    <div class="name"></div>
    <div class="name"></div>
</div>
</body>
</html>